body{
    background-color: #EAF6F6;
}
hr{
    background-color: white;
    border-style: none;
    height: 2px;
}
img{
    height: 100px;
}
img:hover{
    height: 200px;
}
h1{
    color: #66BFBF;
}
h3{

}