body{
    margin: 0px;
    text-align: center;

}


h1{
    margin: 50px auto 0 auto;
    font-size: 5rem;
    font-family: 'Edu QLD Beginner', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Roboto', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
a:hover{
    color: #eaf6f6;
}
p{
    color: #40514E;
    font-size: 1.2em;
    line-height: 2;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: NONE;
    width: 4%;
    margin: 100px auto;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.avt{
    height: 150px;
    border-radius: 50%;

}

.middle-container{
    margin: 100px 0;

}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0;
    margin: 0;
}

.top-cloud{
    position: absolute;
    top: 30px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.skill-row{
    width:50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.skill{

}

.code-img{
    width:25%;
    border-radius: 50%;
    float: left;
    margin-right:30px;
}
.chillies-img{
    width:25%;
    border-radius: 50%;
    float: right ;
    margin-left:30px;
}

.contact-me{
    margin-bottom: 50px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .cc{
    margin-bottom: 0;
    color: #eaf6f6;
    font-size: 0.75rem;
  }
